body {
    margin:0;
    padding:0;
    font-size:12px;
    font-family:Arial;
}

.a1{
    width:300px;
    border:1px solid #CCCCCC;
    margin:30px auto;
}

.a2{
    height:40px;
    line-height:40px;
    background-color:#f5f5f5;
    border-top:2px solid #0066FF;
    border-bottom:1px solid #CCCCCC;
}

.a2 span{
    font-size:16px;
    font-weight:bold;
    padding-left:18px;
}

ul{
    list-style:none;
    padding:10px;
}

li{
    height:65px;
    border-bottom:1px dashed #CCCCCC;
    overflow:hidden;
    padding-top:10px;
}

li a{
    color:#000000;
    text-decoration:none;
}

li a:hover{
    color:#FF0000;
}

li img{
    float:left;
    margin-right:8px;
}


